.board__container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid red;
}
.board__row{
    border: 1px solid black;
    height: 60px;
    display: flex;
}

.board__col_white {
    width: 60px;
    height: 60px;
    background-color: aliceblue;
}

.board__col_black {
    width: 60px;
    height: 60px;
    background-color: grey;
    color: aliceblue;
}